<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Package download location. -->
  <config>
    <add key="repositoryPath" value="app/packages" />
  </config>
  
  <!-- Behavior when restoring. -->
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>

  <!-- Sources of packages. -->
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <!-- Sources for scanning security vulnerabilities of packages. -->
  <auditSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
</configuration>
